header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

#logo {
    font-size: 45px;
}


header nav {
    width: 800px;
    height: 70px;
    padding: 10px;
}

header nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

header nav ul li {
    height: 100%;
    width: 12em;
    list-style: none;
    text-align: center;
}

header nav ul li a {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #f3f3f3;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    font-size: 1.4em;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 500ms;
}

.profile_picture img {
    border-radius: 70%;
    width: 80px;
    height: 80px;
}

@media (max-width: 900px) {
    #logo {
        font-size: 20px;
    }
    
    header nav {
        width: 100vw;
        height: 110px;
        padding: 5px;
    }

    
    header nav ul {
        flex-direction: column;
        gap: 5px;
    }
    
    header nav ul li {
        background-color: transparent;
    }

    header nav ul li a {
        background-color: transparent;
        color: #333333;
        font-size: 1em;
    }

    header nav ul li a:hover {
        background-color: transparent;
        transition: none;
    }

    .profile_picture img {
        border-radius: 70%;
        width: 60px;
        height: 60px;
    }
}


