@font-face {
    font-family: 'Roboto-Medium'; 
    src: url('../../fonts/Roboto/Roboto-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-thin';
    src: url('../../fonts/Roboto/Roboto-thin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../../fonts/Roboto/Roboto-LightItalic.ttf') format('ttf');
    font-weight: thin;
    font-style: italic;
}