@import url("./theme/template.css");
@import url("./components/header.css");
@import url("./components/aside_bar.css");
@import url("./components/blog_content.css");
@import url("./components/footer.css");



.profile_picture img {
    border-radius: 70%;
    width: 80px;
    height: 80px;
}

main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

@media (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    main {

    }
}

@media (min-width: 901px) {
    main {
        height: 80vh;
    }
}